* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: aliceblue;
    padding: 15px 20px;

}


.banner img {
    width: 400px;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(41, 31, 37);
}

.menu-toggle {
    display: none;
}



.nav-links {
    display: block;
}

.banner {
    display: flex;
    gap: 30px;
    margin-right: 65px;
    flex-direction: column;
    align-items: flex-start;
}


.footer {
    background-color: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;

}



@media (max-width:800px) {
    .menu-toggle {
        display: block;
        font-size: 25pt;
    }


    .nav-links li {
        margin: 30px 0px;
        list-style: none !important;

    }

    .nav-links {
        background-color: rgb(25, 22, 25);
        font: size 18pt;
        ;
        width: 100vw;
        position: absolute;
        text-align: center;
        top: 74px;
        left: 0;
        display: none;
    }

    .banner {
        display: flex;
        gap: 30px;
        margin-right: 65px;
        flex-direction: column;
        align-items: center;
    }
}



.nav-links ul li {
    list-style: none !important;
}

a,
a:visited,
a:hover {
    text-align: none !important;
}

nav#menu ul {
    display: flex;
    gap: 22px;
}

@media (min-width:1024px) {
    .gadjets {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: auto auto auto;
        justify-items: stretch;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        align-content: stretch;
    }

    .gadjets div {
        text-align: center;
        box-shadow: 0 0 20px 3px black;
        border-radius: 42px;
        padding: 2rem;
    }

    .titulo {
        margin: 1rem;
        text-align: center;
        font-size: 40pt;


    }

    img.meeple {
        width: 300px;
        margin: 20px;
    }

    .imeeple {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 7%;
    }
}